@import '../Components/Themes/Theme.scss';

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $textColor;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    //cursor: default;
    //overflow: hidden;
    border: 0px solid #DADEE0;
    //background-color: #FFFFFF;
    white-space: normal;
    //-webkit-appearance: none;
}

input,select,textarea,button {
    font-family: Roboto, sans-serif;
}
p{
    line-height:2;
}
a{
    text-decoration:none;
}

h1,h2,h3,h4,h5,h6,b,strong{
    font-weight:500;
}
/** {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}*/

*:focus { 
    outline: none;
}

.lt {
    /*&:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(small) {
        font-size: 14px;
        font-weight: 400;
    }*/
    /*letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    //cursor: default;
    //overflow: hidden;
    border: 0px solid #DADEE0;
    //background-color: #FFFFFF;
    white-space: normal;
    //-webkit-appearance: none;*/
}

*, *::before, *::after {
    box-sizing: border-box;
}

$primary-color: #00AEEF;
$secondary-color: #FCAC00;
$tertiary-color: #FFF;
$text-color: #475466;

ul.reset{
    padding:0;
    margin:0;
    list-style-type:none;
}

@import '../Components/Display/Display.razor.scss';
@import '../Components/Button/Button.razor.scss';
@import '../Components/ClassIcon/ClassIcon.razor.scss';
@import '../Components/Background/Background.razor.scss';
@import '../Components/Color/Color.razor.scss';
@import '../Components/Border/Border.razor.scss';
@import '../Components/ContentAlign/ContentAlign.razor.scss';
@import '../Components/Float/Float.razor.scss';
@import '../Components/Clear/Clear.razor.scss';
@import '../Components/Padding/Padding.razor.scss';
@import '../Components/Margin/Margin.razor.scss';
@import '../Components/Shadow/Shadow.razor.scss';
@import '../Components/Rounded/Rounded.razor.scss';
@import '../Components/Transparency/Transparency.razor.scss';
@import '../Components/ViewPort/ViewPort.razor.scss';
@import '../Components/Width/Width.razor.scss';
@import '../Components/Height/Height.razor.scss';
@import '../Components/Accordion/Accordion.razor.scss';
@import '../Components/Position/Position.razor.scss';
@import '../Components/Toolbar/Toolbar.razor.scss';
@import '../Components/ApplicationToolbar/ApplicationToolbar.razor.scss';
@import '../Components/Menu/Menu.razor.scss';
@import '../Components/DataList/DataList.razor.scss';
@import '../Components/Tabs/Tabs.razor.scss';
@import '../Components/MultiView/MultiView.razor.scss';
@import '../Components/InputField/InputField.razor.scss';
@import '../Components/Input/InputEditor.razor.scss';
@import '../Components/Collapsible/Collapsible.razor.scss';
@import '../Components/Opacity/Opacity.razor.scss';
@import '../Components/Clip/Clip.razor.scss';
@import '../Components/Layout/Layout.razor.scss';
@import '../Components/Font/Font.razor.scss';
@import '../Components/Clickable/Clickable.razor.scss';
@import '../Components/ServerConnection/ServerConnection.razor.scss';
@import '../Components/Alert/Alert.razor.scss';
@import '../Components/Loading/Loading.razor.scss';
@import '../Components/SideBar/SideBar.razor.scss';
@import '../Components/SideNavigationBar/SideNavigationBar.razor.scss';
@import '../Components/SplitPanels/SplitPanels.razor.scss';
@import '../Components/PropertySheet/PropertySheet.razor.scss';
@import '../Components/Dialog/Dialog.razor.scss';
@import '../Components/Window/Window.razor.scss';
@import '../Components/Tooltip/Tooltip.razor.scss';
@import '../Components/DropDown/DropDown.razor.scss';
@import '../Components/ScrollBar/ScrollBar.razor.scss';
@import '../Components/DataTable/DataTable.razor.scss';
@import '../Components/FormBuilder/FormBuilder.razor.scss';
@import '../Components/BoxDimension/BoxDimension.razor.scss';
@import '../Components/ResponsiveNavigationBar/ResponsiveNavigationBar.razor.scss';
@import '../Components/Ratings/Ratings.razor.scss';
@import '../Components/Editable/Editable.razor.scss';
@import '../Components/Carousel/Carousel.razor.scss';
@import '../Components/Image/Image.razor.scss';
@import '../Components/FileUpload/FileUpload.razor.scss';
@import '../Components/Prompt/CustomPrompt.razor.scss';
@import '../Components/Charts/ChartJs.razor.scss';
@import '../Components/Card/Card.razor.scss';
@import '../Components/Typography/Typography.razor.scss';
@import '../Components/Markdown/Markdown.razor.scss';
@import '../Components/Trend/Trend.razor.scss';
@import '../Components/Popup/Popup.razor.scss';
@import '../Components/StackDepth/StackDepth.razor.scss';





@import '../PageBuilder/PageBuilder.razor.scss';
@import '../SPA/Application.razor.scss';
